body {
    font-family: Arial, sans-serif;
    background-image: url('/Fruitsbackground.png');
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

#pronunciation, #writing-practice {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#wordToPronounce {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

#fruitImage {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#translation {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.arrow {
    width: 50px;
    height: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#feedback {
    font-weight: bold;
    margin-top: 20px;
}

#writing-practice {
    display: none; /* Initially hidden */
}

#writing-practice input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    width: calc(100% - 22px);
}

#writingFeedback {
    font-weight: bold;
    margin-top: 20px;
}

footer {
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}